<div class="form-check mx-2 mb-2">
    <input type="checkbox" class="dc-send-notification form-check-input" name='dc_add_edit_event_send_notification'
           id="dc_add_edit_event_send_notification">
    <label class="form-check-label" for="dc_add_edit_event_send_notification">
        {{ "Add Patient Notifications"|xlt }}
    </label>
</div>
