/*:host /deep/ app-scale-chart {
    margin: auto auto;
}
:host /deep/ .single-scale app-scale-chart {
    width: 45em;
    display: inline-block;
}*/

addo-scale-results {
    div, p, li {
        font-size: 12px;
    }
}
